* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
/*Hero section*/
#hero{
background-image: url(./img/k_garden.jpg);
background-size: cover;
background-position: top center;
position: relative;
z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1; 
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color:cornsilk;
}
/*End Hero section*/